:root {
    --background-color: #6d6c81;
    --border-color: black;
    --section-blackground-color:#163a59;
    --border-size: 10px;
}

*{
    background-color: var(--background-color);
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 1%;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #163a59;
    border: var(--border-size);
    border-style: solid;
    padding: 10px;
}

header h1 {
    font-size: 100px;
    background-color: var(--section-background-color);
}

header nav {
    background-color: var(--section-background-color);
    display: flex;
    color: black;
    padding: 10px;
}

main {
    padding: 1%;
}

.about-me-section {
    border: var(--border-size) solid;
    border-color: var(--border-color);
    padding: 2%;
}

.about-me-section h1 {
    font-size: 50px;
    justify-content: center;
}

.about-me-section div {
    display: flex;
    flex-wrap: wrap;
}

.about-me-section img {
    width: 50%;
    justify-content: left;
}

.about-me-section p {

}

.about-me-section:hover {

}

.main-project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    border: var(--border-size) solid;
}

.main-project:hover {
    
}

.smaller-project {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
    border: var(--border-size) solid;
}
 .smaller-project h2{
    font-size: 50px;
    text-align: center;
 }

footer {
    padding: 2%;
    border: var(--border-size) solid;

}

 footer h1 {
    display: flex;
    justify-content: center;
 }

footer ul {
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 992px) {
       
}